/* general */
.container {
  padding: 0 50px 0 50px;
  }

.grid {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  justify-content: space-between;
}

/* header */
.header {
  padding-top: 92px;
  padding-bottom: 96px;
  font-size: 18px;
  line-height: 21px;
}

/* nav */
.header__nav {
  margin-top: 41px;
  margin-right: 36px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  column-gap: 12px;
  list-style: circle;
}

/* link */
.link {
  font-size: 18px;
  line-height: 21px;
  text-underline-offset: 4px;
}

.nav__item_current {
  list-style: none;
}

.nav__item_current .link {
  text-decoration: none;
}


.header__logo-container {
  max-width: 148px;
  max-height: 104px;
}


/* contacts */
.contacts {
  max-width: 240px;
  text-align: left;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
}

.header__contacts {
    margin-top: 3px;
    justify-self: end;
}

.contacts__address {
  text-decoration: none;
}

/* cover */
.cover {
  padding-top: 165px;
  padding-bottom: 50px;;
  background: 
  #000 url(/images/cover.jpg) 
    no-repeat
    center /
    cover;
    color: #fff;
}

.cover__title {
  margin-bottom: 106px;
  display: flex;
  flex-direction: column;
}

.cover__inner {
  display: flex;
  justify-content: space-between;
}

.cover__text {
  display: flex;
  justify-content: space-between;
  width: 637px;
}
.cover-title__item_row_second {
  align-self: center;
}

.cover-title__item_row_third {
  align-self: flex-end;
}

/* lots */
.lots {
  max-width: 1052px;
}

.main__lots {
  margin: 180px auto 0 auto;
}

.lots__list {
  display: grid;
  grid-template-rows: 596px;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
}

.lots-item {
  padding: 48px 40px;
}

.lots-item__link {
  display: block;
  height: 100%;
}

.lots_item__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.lots__link {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
}

/* about */
.about {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 240px 1fr;
  column-gap: 72px;
}

.main__about {
  margin-top: 120px;
}

.about__description-container {
  padding-top: 133px;
}

.about__title {
  margin-bottom: 100px;
}

.about__description {
  margin-bottom: 24px;
}

.about__description:last-child{
  margin-bottom: 0;
}

/* footer */
.footer {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: max-content max-content max-content;
  justify-content: space-between;
  padding-bottom: 82px;
}

.main-page__footer {
  margin-top: 181px;
}

/* footer__nav */
.footer__nav-list {
  flex-direction: column;
  row-gap: 0;
}

.nav__item {
  text-align: center;
}

/* social */
.social {
  justify-self: end;
  max-width: 240px;
}

.social-list {
  display: flex;
  column-gap: 48px;
}

.social-list__icon {
  width: 48px;
  height: 48px;
}