/* general */
.container {
    padding: 0 50px 0 50px;
  }
  
/* header */
.header__container {
    padding-top: 92px;
    padding-bottom: 96px;;
}
.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}

/* nav */
.header__nav {
    margin-top: 41px;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  row-gap: 12px;
}

/* contacts */
.contacts {
    max-width: 240px;
    text-align: left;
}

.header__contacts {
    margin-top: 3px;
    justify-self: end;
}

/* cover */
.cover {
  background: 
    #000 url(/images/cover.jpg) 
    no-repeat
    center /
    cover;
    color: #fff;
}

.cover__title {
  display: flex;
  flex-direction: column;
}

.cover-title__item {
  display: block;
}

.cover__inner {
  display: flex;
  justify-content: space-between;
}

.cover-title__item_row_second {
  align-self: center;
}

.cover-title__item_row_third {
  align-self: flex-end;
}